:root {
    --color-white: #fff;
    --main-red: #ac0303;
    --color-dirty-white: #817373;
}

.active {
    color: var(--main-red);
    font-size: 22px;
}

.navbar-link {
    color: var(--color-white);
    text-decoration: none;
}

.table-link {
    color: var(--color-dirty-white);
    text-decoration: none;
    transition: ease-in-out;
}

.table-link:hover {
    color: var(--color-dirty-white);
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-delete {
    margin-right: 10px !important;
}